{{template "header.html" .}}
    
    <!--Доп линки на css-->
    <link href="static/css/base.css" rel="stylesheet">
    <link href="static/css/footer.css" rel="stylesheet">
    <link href="static/css/nav.css" rel="stylesheet">
    <link href="static/lib/css/all.min.css" rel="stylesheet">
    <link href="static/css/articles.css" rel="stylesheet">
    <title>{{ .title }}</title>

{{template "nav.html" .}}

    <main class="">
        <div class="articles mb-5 container">
            <h1 class="mb-4">Последние статьи</h1>
            <!-- По 15-20 статей на страницу-->
            {{range $key, $value := .articles}}
            <div class="articles-block d-flex flex-row mb-2">
                <div class="articles-block-image">
                    <img src="static/img/1.jpg" class="articles-block-image-preview" alt="Сhess">
                </div>
                <div class="articles-block-text">
                    <div class="article-block-text-preview-header">
                        <p class="m-3">{{ $value.Title}}</p>
                    </div>
                    <div class="article-block-text-preview-text">
                        <p class="m-3">
                            {{ $value.TextPreview}}
                        </p>
                    </div>        
                    <div class="article-block-text-button">
                        <form action="/article/{{ $value.Id}}" method="GET">
                            <button type="submit" class="btn btn-success m-3 mt-1">Читать далее</button>
                        </form>                
                    </div>
                    <div class="article-block-data-create m-3" style="float: right;">
                        {{ $value.CreatedAt}}
                    </div>
                </div>
            
            </div>
            {{ end}}

        </div>
    </main>

{{template "footer.html" .}}



{{template "scripts.html" .}}