{{template "header.html" .}}
    
    <!--Доп линки на css-->
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/footer.css" rel="stylesheet">
    <link href="../static/css/nav.css" rel="stylesheet">
    <link href="../static/lib/css/all.min.css" rel="stylesheet">
    <link href="../static/css/article-news.css" rel="stylesheet"> 
    <title>{{ .title }}</title>

{{template "nav.html" .}}

    <main class="">
        <div class="article-news mb-5 container">
            <h1 class="mb-4">Статья</h1>
            <div class="article-news-block mb-5">
                <div class="d-flex flex-row mb-2"> 
                    <div class="article-news-block-image">
                        <img src="../static/img/1.jpg" class="article-news-block-image-preview" alt="Сhess">
                    </div>
                    <div class="article-news-block-text" style="float: left;">
                        <div class="article-news-block-text-preview-header">
                            <p class="m-3">{{ .title_article}}</p>
                        </div>
                        <div class="article-news-block-text-preview-text">
                            <p class="m-3">
                                {{ .preview}}
                            </p>
                        </div>
                    </div>
                </div>
                <div id="content" style="margin-top: 20px;" class="article-news-block-full-text">                
                </div>
                <div style="margin-top: 20px;" class="article-news-block-author">  
                   <b> {{ .author}} </b> {{ .created}}             
                </div>

                {{if eq .id .id_user}}
                <div class="article-news-block-change mt-2">
                    <form action="/edit_article/{{ .id_article}}" method="GET">
                        <button type="submit" class="btn btn-warning m-2">Изменить данные</button>
                    </form>
                    <form id="delete_article_form" action="/article/{{ .id_article}}" method="POST">
                        <button type="submit" class="btn btn-danger m-2">Удалить статью</button>
                    </form>
                </div>
                {{end}}
            </div>


            <h1 class="mb-4">Комментарии</h1>
            {{range $key, $value := .comments}}
            <div class="comments mt-2">
                
                    <div class="comments mt-2">
                            <div class="comments-author">
                                <p class="m-2 author">{{ $value.UserName}}</p>
                            </div>
                            <div class="comments-text">
                                <p class="m-2">
                                    {{ $value.Text}}
                                </p>
                            </div>
                            <div class="comments-time">
                                <p class="comments-time-text">
                                    {{ $value.CreatedAt}}
                                </p>
                            </div>         
                    </div>
                
            </div>
            {{end}}

            {{if gt .id 0}}

            <form action="/article/comments/{{ .id_article}}" method="GET">
                <button type="submit" class="btn btn-success m-2">Добавить комментарий</button>
            </form>

            {{end}}

        </div>
    </main>

{{template "footer.html" .}}

<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
</script>

<script> 
    document.getElementById("content").innerHTML = "{{ .article_text}}";

    $('#delete_article_form').submit(function(e){
        e.preventDefault();
        var formAction = $(this).attr('action');
        $.ajax({
            url: formAction,
            type: "DELETE",
            
            success: function(data){
                window.location.href = "/article";
            }
        });

    });
</script>

{{template "scripts.html" .}}