{{template "header.html" .}}
    
    <!--Доп линки на css-->
    <link href="static/css/log-reg.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <title>{{ .title }}</title>

{{template "nav.html" .}}

    <main>
        <div class="myform p-x-1 p-y-3">
            <form class="card card-block m-x-auto bg-faded form-width">
                <legend class="m-b-1 text-xs-center">Авторизация</legend>
                <div class="form-group input-group">
                    <span class="input-group-addon">@</span>
                    <span class="has-float-label">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"/>
                        <label for="email">E-mail</label>
                    </span>
                </div>
                <div class="form-group has-float-label">
                    <input class="form-control" id="password" type="password" placeholder="••••••••"/>
                    <label for="password">Пароль</label>
                </div>
                <div class="text-xs-center">
                    <button class="btn btn-block btn-primary" type="submit">Авторизация</button>
                </div>
                <a href="/registration">Регистрация</a>
            </form>
        </div>  
    </main>

{{template "footer.html" .}}

{{template "scripts.html" .}}