{{template "header.html" .}}
    
    <!--Доп линки на css-->
    <link href="static/css/base.css" rel="stylesheet">
    <link href="static/css/footer.css" rel="stylesheet">
    <link href="static/css/nav.css" rel="stylesheet">
    <link href="static/lib/css/all.min.css" rel="stylesheet">
    <link href="static/css/news.css" rel="stylesheet">
    <title>{{ .title }}</title>

{{template "nav.html" .}}

    <main class="">
        <div class="news mb-5" id="news">
            <h2 class="mb-4">Новости шахмат</h2>
            <table class="mb-2">
                
                {{range $key, $value := .news}}
                <tr>
                    <td class="news-time">
                        <p class="">{{ $value.CreatedAt}}</p>
                    </td>
                    <td class="news-href">
                        <!--Ограничение 125 символов-->

                        <a class="news-href-text" href="/news/{{$value.Id}}">{{ $value.Title}}</a>
                    </td>
                </tr>
                {{end}}

            </table>
        </div>
    </main>

{{template "footer.html" .}}

<script></script>

{{template "scripts.html" .}}