.articles{
    margin-top: 150px;
}

.articles-block{
    background-color: #d9d9d8;
}

.articles-block-text{
    width: 800px;
}

.articles-block-image-preview{
    height: 270px;
    width: 480px;
}

.article-block-text-preview-header{
    font-size: 24px;
    font-weight: bolder;
}

.article-block-text-preview-text{
    font-size: 12px;
}