.menu{
    background-color: #292823;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 120px;
}

.menu-info{
    margin-top: -10px;
    padding-right: 70px;
    padding-left: 100px;
}

.menu-element{
    height: 50px;    
    border-radius: 15px; 
    padding-top: 12px;
}

.menu-element:hover{
    background-color: red;
}

#menu-element-login-profile{
    margin-left: 15px;
}

.element{
    color: white;
}

.element:hover{
    color:#000000;
    margin-left: auto;
    margin-left: right;
}